source/FORNECEDORES.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Produtos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Produto" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="SKU"/>
              <xs:element type="xs:string" name="DESCRITOR"/>
              <xs:element type="xs:long" name="CNPJ"/>
              <xs:element type="xs:string" name="FORNECEDOR"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>